<div class="form-horizontal row instant-search" role="form">
    <div class="form-group col-sm-6">
        <label for="quicksearch" class="col-xs-2 control-label">Keresés</label>
        <div class="col-xs-10">
            <input type="search" id="quicksearch" class="form-control" placeholder="Keresés a szerzők között"  ng-model="quicksearch">
        </div>
    </div>
</div>

<h1>Műsorkészítők
  <a ng-show="user.role.name == 'admin'" class="btn btn-danger" role="btn" ng-href="/new/author">Új</a></h1>
<table class="table">
  <thead>
  <tr>
    <th>Név</th>
    <th>Műsorok</th>
  </tr>
  </thead>
  <tr ng-repeat="author in authors | filter: quicksearch">
    <td><a ng-href="/author/{{author.id}}">{{author.name}}</a></td>
    <td>
      <span ng-repeat="contribution in author.contributions">
        <a ng-href="/show/{{contribution.show.id}}">{{contribution.show.name}}</a> ({{contribution.nick}})
      </span>
    </td>
  </tr>
</table>