<form class="form-horizontal">
    <div class="alert alert-danger" ng-show="error">{{error}}</div>

    <fieldset>

        <!-- Form Name -->
        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="plannedFrom">Kezdet</label>

            <div class="controls">
                <span id="plannedFrom">{{episode.plannedFrom * 1000 | date:'yyyy-MM-dd HH:ss'}}</span>
            </div>
        </div>
        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="plannedTo">Vég</label>

            <div class="controls">
                <span id="plannedTo">{{episode.plannedTo * 1000 | date:'yyyy-MM-dd HH:ss'}}</span>
            </div>
        </div>
        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="title">Cím</label>

            <div class="controls">
                <input id="title" name="title" type="text" class="input-xlarge"
                       ng-model="episode.title">
            </div>
        </div>

        <!-- Textarea -->
        <div class="control-group">
            <label class="control-label" for="content">Leírás</label>

            <div class="controls">
                <div id="content" text-angular="text-angular" ng-model="episode.content"></div>
            </div>
        </div>

    </fieldset>
    <input value="Mentés" type="submit" ng-click="save()"/>
</form>
