<form class="form-horizontal" role="form">
  <div class="alert alert-danger" ng-show="error">{{error}}</div>

  <fieldset>

    <!-- Form Name -->
    <!-- Text input-->
    <div class="form-group">
      <label for="plannedFrom">Tervezett kezdet</label>

      <p id="plannedFrom">{{episode.plannedFrom * 1000 | date:'yyyy-MM-dd HH:ss'}}</p>

    </div>
    <!-- Text input-->
    <div class="form-group">
      <label for="plannedTo">Tervezett vég</label>
      <p id="plannedTo">{{episode.plannedTo * 1000 | date:'yyyy-MM-dd HH:ss'}}</p>
    </div>

      <!-- Text input-->
      <div class="form-group">
          <label for="plannedFrom">Valós kezdet</label>
          <input class="form-control" id="realFrom" name="realFrom" type="time" ng-model="realFrom">

      </div>
      <!-- Text input-->
      <div class="form-group">
          <label for="realTo">Valós vég</label>
          <input class="form-control" id="realTo" name="realTo" type="time" ng-model="realTo">
      </div>


    <!-- Text input-->
    <div class="form-group">
      <label for="title">Cím</label>
      <input class="form-control" id="title" name="title" type="text" class="" ng-model="episode.text.title" width="" style="width: 50ch;">

    </div>

    <div ng-show="episode.plannedFrom * 1000 > now" class="alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Figyelem!</strong> A jövőbeni műsorajánló a műsor elhangzása után automatikusan adásnaplóvá változik. Érdemes ezért pl.
      jelen időben fogalmazni (pl. az <i>Ebben az adásban vendégünk X.Z</i> sokkal időtállóbb mint a <i>vendégünk lesz/volt</i>).
      De természetesen az adásnaplóvá vált ajánló is szerkeszthető, javítható marad.
    </div>
    <!-- Textarea -->
    <div class="form-group">
      <label class="control-label" for="content">Leírás</label>

      <div text-angular="text-angular" ng-model="episode.text.content"></div>
    </div>

  </fieldset>
  <input value="Mentés" class="btn" type="submit" ng-click="save()"/>
</form>
