<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-tasks"></i> Admin hírek
            </div>
            <div class="widget-body no-padding">
                <div class="message"><b>2014.10.11</b> Az admin felület kicsit ráncfelvarráson esett át, az eddig felül volt menük a bal oldalra kerültek.</div>


                <div class="message">Elérhetővé vált a címkék (tag-ek) használata az adásnaplókon belül. Az alábbi
                    verziók
                    használhatóak: <code>#címke</code> vagy <code>@személynév</code> <a ng-href="/page/admin-tags">További
                        részletek itt</a></div>

                <div class="message">A kék gombok legvégére bekerült a <b>stat</b>, ami a naponta tárolásra kerülő <b>online
                    hallgatási
                    statisztikára</b> mutat.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row alerts-container">
    <div class="col-xs-12">
        <alert data-ng-repeat="alert in alerts" type="warning" close=""></alert>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="widget-icon green pull-left">
                    <i class="fa fa-file-text-o"></i>
                </div>
                <div class="widget-content pull-left">
                    <div class="title">{{stat.episodeCount}}</div>
                    <div class="comment">Adásnapló</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="widget-icon red pull-left">
                    <i class="fa fa-tasks"></i>
                </div>
                <div class="widget-content pull-left">
                    <div class="title">{{stat.showCount}}</div>
                    <div class="comment">Műsor</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="widget-icon orange pull-left">
                    <i class="fa fa-music"></i>
                </div>
                <div class="widget-content pull-left">
                    <div class="title">{{stat.mixCount}}</div>
                    <div class="comment">Mix</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="spacer visible-xs"></div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="widget-icon blue pull-left">
                    <i class="fa fa-users"></i>
                </div>
                <div class="widget-content pull-left">
                    <div class="title">{{stat.authorCount}}</div>
                    <div class="comment">Műsorkészítő</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-tasks"></i> Saját adásnaplók
            </div>
            <div class="widget-body no-padding">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr data-ng-repeat="episode in episodes">
                            <td>
                                <a ng-show="episode.id" ng-href="/episode/{{episode.id}}">{{episode.plannedFrom | date:'yyyy-MM-dd'}}</a>
                                <span ng-hide="episode.id">{{episode.plannedFrom | date:'yyyy-MM-dd'}}</span>
                            </td>
                            <td>
                                <span ng-show="episode.id">{{episode.text.title}}</span>
                                <a class="button button-warning" ng-hide="episode.id" ng-click="newEpisode(episode)">Adásnapló megírása</a>
                            </td>
                            <td>
                                <span ng-show="episode.text.content" class="text-success"><i class="fa fa-check"></i></span>
                                <span ng-hide="episode.text.content" tooltip="Hiányzó adásnapló" class="text-danger"><i class="fa fa-warning">
                            </td>
                            <td>
                                <span ng-show="episode.plannedFrom == episode.realFrom" class="text-success"><i class="fa fa-check"></i></span>
                                <span ng-hide="episode.plannedFrom == episode.realFrom" tooltip="Hiányzó adás pozíció" class="text-danger"><i class="fa fa-warning">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-area-chart"></i> Tegnapi hallgatottság
                <a href="http://tilos.hu/upload/stats" class="pull-right">További statisztikák...</a>

                <div class="clearfix"></div>
            </div>
            <div class="widget-body no-padding">
                <a ng-href="http://tilos.hu/upload/stats/{{yesterday | date:'yyyy-MM-dd'}}.png"><img src="http://tilos.hu/upload/stats/{{yesterday | date:'yyyy-MM-dd'}}.png" class="img-responsive"></a>
            </div>
        </div>
    </div>
</div>

<!-- End Main Content -->

</div>
