<div class="row">
    <div class="col-8">


        <div class="panel panel-default">
            <div class="panel-heading">
                Admin hírek
            </div>
            <div class="panel-body">
                Elérhetővé vállt a cimkék (tegek) használata az adásnaplókon belül. Az alábbi szintakszisok
                használhatóak: <code>#cimke</code> vagy <code>@szemelynev</code> <a ng-href="/page/admin-tags">További részletek itt</a>
            </div>
        </div>
        <h2>Hasznos linkek!</h2>

        <p>
            <a class="btn btn-primary btn-lg" role="button" href="/page/ujoldal">Új oldal GYIK</a>
            <a class="btn btn-primary btn-lg" role="button" href="/page/face">Tilos Facebook szabályat</a>
            <a class="btn btn-primary btn-lg" role="button" href="/page/szerkesztes">Szerkesztési segédlet</a>
            <a class="btn btn-primary btn-lg" role="button" href="/page/78">Tilos Dokumentumok</a>

        </p>

        <h2>Saját műsorok</h2>

        <p ng-repeat="contribution in user.author.contributions">

            <a class="btn btn-default" ng-href="/show/{{contribution.show.id}}/"
               role="button">{{contribution.show.name}}</a>


        </p>




    </div>
</div>
