<div class="form-horizontal row instant-search" role="form">
    <div class="form-group col-sm-6">
        <label for="quicksearch" class="col-xs-2 control-label">Keresés</label>

        <div class="col-xs-10">
            <input type="search" id="quicksearch" class="form-control" placeholder="Keresés a műsorok között"
                   ng-model="quicksearch">
        </div>
    </div>
</div>


<h1>Feltöltött mixek <a class="btn btn-danger" role="btn" ng-href="/new/mix">Új mix</a></h1>
<table class="table">
    <thead>
    <tr>
        <th>Dátum</th>
        <th>Szerző</th>
        <th>Mix neve</th>
        <th>File</th>
        <th>Típus</th>
        <th>Kategória</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="mix in mixes | filter: quicksearch">
        <td>{{mix.date}}</td>
        <td>{{mix.author}}</td>
        <td><a ng-href="/mix/{{mix.id}}">{{mix.title}}</a></td>
        <td><a ng-href="{{mix.link}}">{{mix.file}}</a></td>
        <td>{{mix.type}}</td>
        <td>{{mix.categotry}}</td>
    </tr>
    </tbody>
</table>
