<div class="alert alert-danger" ng-show="error">{{error}}</div>

<form class="form-horizontal">
  <fieldset>
    <!-- Form Title -->
    <legend>Text</legend>


    <div class="control-group">
      <label class="control-label" for="Title">Title</label>

      <div class="controls">
        <input id="Title" Title="Title" type="text" class="input-xlarge" ng-model="text.title">
      </div>
    </div>


     <div class="control-group">
          <label class="control-label" for="Alias">Alias</label>

          <div class="controls">
              <input id="Alias" Title="Alias" type="text" class="input-xlarge" ng-model="text.alias">
          </div>
     </div>


      <div class="control-group">
      <div id="content" text-angular ng-model="text.content"></div>
    </div>

  </fieldset>
  <input value="Mentés" type="submit" ng-click="save()"/>
</form>
