<section class="col-md-9 main" role="main">

    <div class="form-horizontal row instant-search" role="form">
        <div class="form-group col-sm-6">
            <label for="quicksearch" class="col-xs-2 control-label">Keresés</label>

            <div class="col-xs-10">
                <input type="search" id="quicksearch" class="form-control" placeholder="Keresés az oldalak között"
                       ng-model="quicksearch">
            </div>
        </div>
    </div>

    <h1>Oldal lista <a ng-show="user.role.name == 'admin'" class="btn btn-danger" role="btn" ng-href="/new/page">Új
        oldal</a></h1>
    <table class="table table-striped">
        <thead>
        <tr>

            <th>Cím</th>
            <th>Módosítva</th>
            <th>Szerkesztés</th>

        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="page in pages | filter: quicksearch">
            <td><a ng-href="/page/{{page.id}}">{{page.title}}</a></td>


            <td>{{page.modified * 1000 | date:'yyyy-MM-dd'}}</td>
            <td><a ng-show="user && user.role.name == 'admin'" class="btn btn-danger" ng-href="/edit/page/{{page.id}}">Szerkesztés</a>
            </td>
        </tr>
        </tbody>
    </table>

    </h1>

</section>
