<form class="form-horizontal">


  <form>
    <fieldset>
      <!-- Form Name -->
      <legend>Új jelszó</legend>
      <div class="alert" ng-show="message">
        <p>{{message}}</p>

        <p>Belépés a <a href="/login">login</a> oldalon.</p>
      </div>
      <div class="alert alert-danger" ng-show="error">{{error}}</div>


      <!-- Text input-->
      <div class="control-group">
        <label class="control-label" for="password">Password</label>

        <div class="controls">
          <input required id="password" name="password" type="password" class="input-xlarge"
                 ng-model="newpassword.password">
        </div>
      </div>
    </fieldset>
    <input type="submit" ng-click="reset()" value="login"/>
  </form>

</form>