<section class="col-md-9 main" role="main">
    <ul>
        <table class="table">
            <thead>
            <tr>
                <td></td>
                <td></td>
                <td>érv. kezdet</td>
                <td>érv. vége</td>
                <td>nap</td>
                <td>kezdés</td>
                <td>időtartam</td>
                <td>periódus</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="scheduling in schedulings">
                <td><a class="btn btn-danger" ng-href="/edit/scheduling/{{showId}}/{{scheduling.id}}">Szerkesztés</a></td>
                <td><a class="btn btn-danger" ng-click="delete(scheduling.id)">Törlés</a></td>
                <td>{{scheduling.validFrom * 1000| date:yyy-MM-dd}}</td>
                <td>{{scheduling.validTo * 1000 | date:yyyy-MM-dd}}</td>
                <td>{{scheduling.weekDay | weekDayName}}</td>
                <td>{{scheduling.hourFrom}}:{{scheduling.minFrom}}</td>
                <td>{{scheduling.duration}}&nbsp;perc</td>
                <td>{{scheduling.weekType}}&nbsp;hetente</td>
            </tr>
            </tbody>
        </table>
    </ul>
    <td><a class="btn btn-warning" ng-href="/new/scheduling/{{showId}}">Új</a></td>

</section>
