<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Beosztás</legend>
        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="validFrom">Érvényesség kezdete</label>

            <div class="controls">
                <input id="validFrom" name="validFrom" type="date" class="input-xlarge" ng-model="validFromDate"
                       >
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="validFrom">Érvényesség vége</label>

            <div class="controls">
                <input id="validFrom" name="validFrom" type="date" class="input-xlarge" ng-model="validToDate" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="hourFrom">Óra</label>

            <div class="controls">
                <input id="hourFrom" name="hourFrom" type="number" class="input-xlarge" ng-model="scheduling.hourFrom">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="minFrom">Perc</label>

            <div class="controls">
                <input id="minFrom" name="minFrom" type="number" class="input-xlarge" ng-model="scheduling.minFrom" required>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="weekType">Ismétlődés</label>

            <div class="controls">
                <input id="weekType" name="weekType" type="number" class="input-xlarge" ng-model="scheduling.weekType" required>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="baseDate">Ismétlődés kezdete</label>

            <div class="controls">
                <input id="baseDate" name="baseDate" type="date" class="input-xlarge" ng-model="baseDate" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="weekDay">Nap</label>

            <div class="controls">
                <input id="weekDay" name="weekDay" type="number" class="input-xlarge" ng-model="scheduling.weekDay" required>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="duration">Időtartam</label>

            <div class="controls">
                <input id="duration" name="duration" type="number" class="input-xlarge" ng-model="scheduling.duration" required>
            </div>
        </div>
    </fieldset>
    <input type="submit" ng-click="save()"/>
</form>
