<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Műsor szerkesztése</legend>


    <div class="control-group">
      <label class="control-label" for="Name">Name</label>

      <div class="controls">
        <input id="Name" name="Name" type="text" class="input-xlarge" ng-model="show.name">
      </div>
    </div>

    <div class="control-group" ng-show="user.role.name == 'admin'">
      <label class="control-label" for="Alias">Alias</label>

      <div class="controls">
        <input id="Alias" name="Alias" type="text" class="input-xlarge" ng-model="show.alias">
      </div>
    </div>

      <div class="control-group" ng-show="user.role.name == 'admin'">
          <label class="control-label" for="definition">Rövid leírás</label>

          <div class="controls">
              <input id="definition" name="definition" type="text" class="input-xlarge" ng-model="show.definition" style="width: 600px;">
          </div>
      </div>

    <div class="control-group" ng-show="user.role.name == 'admin'">
          <label class="control-label" for="Status">Status</label>

          <div class="controls">
              <select id="Status" name="Status" type="text" class="input-xlarge" ng-model="show.status" ng-options="c.id as c.name for c in statuses"></select>
          </div>
      </div>


      <div class="control-group" ng-show="user.role.name == 'admin'">
          <label class="control-label" for="Type">Típus</label>

          <div class="controls">
              <select id="Type" name="Type" type="text" class="input-xlarge" ng-model="show.type" ng-options="c.id as c.name for c in types"></select>
          </div>
      </div>



      <!-- Textarea -->
    <div class="control-group">
      <label class="control-label" for="description">Introduction</label>

      <div id="description" text-angular="text-angular"
           ng-model="show.description"></div>

    </div>

  </fieldset>
  <input value="Mentés" type="submit" ng-click="save()"/>
</form>
