<section>
  <h1>{{show.name}}
    <if-show-admin show="show">
      <a class="btn btn-danger" role="btn" ng-href="/edit/show/{{show.id}}">Szerkesztés</a>
    </if-show-admin>
  </h1>
  <div ng-bind-html="show.description"></div>
</section>

<section>
  <h2>Beosztás <a ng-show="user.role.name == 'admin'" class="btn btn-warning" ng-href="/new/scheduling/{{show.id}}">Új</a></h2>

  <table class="table">
    <thead>
    <tr>
      <td>érv kezdet</td>
      <td>érv vége</td>
      <td>nap</td>
      <td>kezdés</td>
      <td>időtartam</td>
      <td>periódus</td>
      <td ng-show="user.role.name == 'admin'"></td>
      <td ng-show="user.role.name == 'admin'"></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="scheduling in schedulings">
      <td>{{scheduling.validFrom * 1000| date:yyy-MM-dd}}</td>
      <td>{{scheduling.validTo * 1000 | date:yyyy-MM-dd}}</td>
      <td>{{scheduling.weekDay | weekDayName}}</td>
      <td>{{scheduling.hourFrom}}:{{scheduling.minFrom}}</td>
      <td>{{scheduling.duration}}&nbsp;perc</td>
      <td>{{scheduling.weekType}}&nbsp;hetente</td>
      <td ng-show="user.role.name == 'admin'"><a class="btn btn-danger"
                                                 ng-href="/edit/scheduling/{{show.id}}/{{scheduling.id}}">Szerkesztés</a></td>
      <td
              ng-show="user.role.name == 'admin'"><a class="btn btn-danger"
              ng-confirm-click
              ng-click="deleteScheduling(scheduling.id)">Törlés</a></td>
    </tr>
    </tbody>
  </table>


</section>


<section>
    <h2>Linkek <a ng-show="user.role.name == 'admin'" class="btn btn-warning" ng-href="/new/url/{{show.id}}">Új</a></h2>

    <table class="table">
        <thead>
        <tr>
            <th>Link</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="url in show.urls">
            <td><a ng-href="{{url.url}}">{{url.url}}</a></td>
            <td ng-show="user.role.name == 'admin'"><a class="btn btn-danger"
                                                       ng-href="/edit/url/{{url.id}}/{{show.id}}">Szerkesztés</a></td>
            <td
                    ng-show="user.role.name == 'admin'"><a class="btn btn-danger"
                                                           ng-confirm-click
                                                           ng-click="deleteUrl(url.id)">Törlés</a></td>
        </tr>
        </tbody>
    </table>


</section>

<section>
  <h2>Műsorkészítők <a ng-show="user.role.name == 'admin'" class="btn btn-warning" ng-href="/new/contribution">Új</a></h2>

  <p>
  <ul ng-repeat="contributor in show.contributors">
    <li>{{contributor.nick}} (<a ng-href="/author/{{contributor.author.id}}">{{contributor.author.name}}</a>) <a
            ng-confirm-click ng-show="user.role.name == 'admin'" class="btn btn-danger" ng-click="deleteContribution(contributor.id)">Törlés</a></li>
  </ul>
  </p>


</section>

<section>
  <h2>Legutóbbi adások</h2>

  <div class="panel panel-default episode-box" ng-repeat="episode in show.episodes">
    <div class="panel-heading">
      <a ng-show="episode.id" ng-href="/episode/{{episode.id}}"><b>
        {{episode.plannedFrom * 1000| date: 'yyyy.MM.dd'}}
        <span ng-if="episode.text">{{episode.text.title}}</span>
      </b></a>
      <span ng-hide="episode.id">
      <b>
        {{episode.plannedFrom * 1000| date: 'yyyy.MM.dd'}}&nbsp;&nbsp;
        <if-show-admin show="show">

          <a ng-hide="episode.plannedFrom * 1000 > now" class="btn btn-danger" role="button" ng-click="newEpisode(episode)">Adásnapló létrehozás</a>
          <a ng-show="episode.plannedFrom * 1000 > now" class="btn btn-danger" role="button" ng-click="newEpisode(episode)">Műsorajánló létrehozása</a>
        </if-show-admin>
      </b>
      </span>

      <a ng-show="episode.m3uUrl" class="pull-right listen-show" ng-href="{{episode.m3uUrl}}" target="_self">
        <i class="icon-volume-up"></i> Meghallgat
      </a>
      {{episode.persistent}}
            <span ng-show="user && user.role.name == 'admin'">


                </span>
    </div>
    <!-- <div ng-if="episode.text" class="panel-body">
      <span ng-bind-html="episode.text.formatted"></span>
    </div> -->
  </div>
  <ul class="pager">
    <li class="cursorPointer"><a ng-click="prev()">&larr; Korábbi adások</a></li>
    <li class="cursorPointer"><a ng-click="next()">Későbbi adások &rarr;</a></li>
  </ul>
</section>
