<section>
  <h1>{{show.name}} </h1>

  <div ng-bind-html="show.description"></div>
</section>

<section>
  <h2>Legutóbbi adások</h2>

  <div class="panel panel-default episode-box" ng-repeat="episode in show.episodes">
    <div class="panel-heading">
      <a ng-show="episode.id" ng-href="/episode/{{episode.id}}"><b>
        {{episode.plannedFrom * 1000| date: 'yyyy.MM.dd'}}
        <span ng-if="episode.text">{{episode.text.title}}</span>
      </b></a>
      <span ng-hide="episode.id">
      <b>
        {{episode.plannedFrom * 1000| date: 'yyyy.MM.dd'}}&nbsp;&nbsp;
        <if-show-admin show="show">
          <a class="btn btn-danger" role="button" ng-click="newEpisode(episode)">Adásnapló létrehozás</a>
        </if-show-admin>
      </b>
      </span>

      <a ng-show="episode.m3uUrl" class="pull-right listen-show" ng-href="{{episode.m3uUrl}}" target="_self">
        <i class="icon-volume-up"></i> Meghallgat
      </a>
      {{episode.persistent}}
            <span ng-show="user && user.role.name == 'admin'">


                </span>
    </div>
    <div ng-if="episode.text" class="panel-body">
      <span ng-bind-html="episode.text.formatted"></span>
    </div>
  </div>
  <ul class="pager">
    <li class="cursorPointer"><a ng-click="prev()">&larr; Korábbi adások</a></li>
    <li class="cursorPointer" ng-if="currentShowPage != 0"><a ng-click="next()">Későbbi adások &rarr;</a></li>
  </ul>
</section>