<form class="form-horizontal">
  <fieldset>

    <!-- Form Email -->
    <legend>Felhasználó szerkesztése</legend>

    <div class=" alert alert-danger" ng-show="error">{{error}}</div>


    <div class="control-group">
      <label class="control-label" for="Email">Email</label>

      <div class="controls">
        <input id="Email" name="email" type="text" class="input-xlarge" ng-model="user.email">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="Password">Jelszó</label>

      <div class="controls">
        <input id="Password" name="Password" type="password" class="input-xlarge" ng-model="user.password">
      </div>
    </div>

    <div if-admin class="ng-hide control-group">
      <label class="control-label" for="Role">Jogosultság</label>

      <div class="controls">
        <input id="Role" name="role" type="input" class="input-xlarge" ng-model="user.role.id">
      </div>
    </div>


  </fieldset>
  <input value="Mentés" type="submit" ng-click="save()"/>
</form>
