[class^="fa-"], [class*=" fa-"] {
  font-family: 'tilos';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-bold:before {
  @extend .icon-bold:before;
}

.fa-italic:before {
  @extend .icon-italic:before;
}

.fa-italic:before {
  @extend .icon-italic:before;
}

.fa-list-ol:before {
  @extend .icon-list-ol:before;
}

.fa-list-ul:before {
  @extend .icon-list-ul:before;
}

.fa-link:before {
  @extend .icon-link:before;
}

.fa-picture-o:before {
  @extend .icon-picture:before;
}
