
// bootstrap
$brand-primary:     #428bca;
$brand-success:     #7ff64f;
$brand-warning:     #fcb150;
$brand-danger:      #dd4c3b;
$brand-info:        #35aadc;
$gray-darken:         #3b3b3b;
$gray:        #858586;
$gray-light:    #a6a3a3;
$gray-lighten:    #e0e0df;
$gray-dark-table: #201f1f;
$gray-light-table:  #888786;

// brand color:
$facebook:      #3b5998;
$google-plus:     #dd4b39;
$twitter:       #00acee;
$rss:         #ee802f;


// text color
$primary-color:   #201f1f;
$secondary-color:   #6ad0f8;
$link-color:    $brand-danger;
$placeholder-color: $brand-warning;
$highlight-color:   #30acb4;
$actual-color:    #11a8ab;
$lightblue:     #6ccdf7;
$yellow:      #fcb150;
$footer-text:   #7f7d7d;
$footer-title:    #c7c7c6;
$light-color: #797979;

// page color
$background-color:  #ededeb;
$navbar-color:    #2a2929;
$social-background: #3e454d;
$navbar-separator:  #484747;
$stream-separator:  #272a31;

// table style

$gray-lighten-border: #e0e0df;
$gray-dark-hover-background: #e0e0df;

$hr-border:       $primary-color;
