.comment {
  padding-left: 20px;
}

.comment .body {
  padding-bottom: 20px
}

.comment .stat {
  font-size: 12px;
}

.comment-reply, .comment-edit{
  width: 100%;
  height: 100px;
  margin-bottom: 5px;
}

.add-comment {
  margin-bottom: 20px;
}