@font-face {
	font-family: 'tilos';
	src:url('fonts/tilos.eot?-wlvhkg');
	src:url('fonts/tilos.eot?#iefix-wlvhkg') format('embedded-opentype'),
		url('fonts/tilos.woff?-wlvhkg') format('woff'),
		url('fonts/tilos.ttf?-wlvhkg') format('truetype'),
		url('fonts/tilos.svg?-wlvhkg#tilos') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'tilos';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-rss-alt:before {
	content: "\e614";
}
.icon-search:before {
	content: "\e608";
}
.icon-add:before {
	content: "\e600";
}
.icon-subtract:before {
	content: "\e601";
}
.icon-play:before {
	content: "\e603";
}
.icon-sound-alt:before {
	content: "\e602";
}
.icon-envelope:before {
	content: "\e60c";
}
.icon-box-add:before {
	content: "\e60e";
}
.icon-star:before {
	content: "\e604";
}
.icon-star2:before {
	content: "\e605";
}
.icon-loop:before {
	content: "\e606";
}
.icon-arrow-down:before {
	content: "\e60f";
}
.icon-google-plus:before {
	content: "\e60a";
}
.icon-twitter:before {
	content: "\e60b";
}
.icon-apple:before {
	content: "\e621";
}
.icon-android:before {
	content: "\e622";
}
.icon-windows8:before {
	content: "\e623";
}
.icon-phone:before {
	content: "\e624";
}
.icon-laptop:before {
	content: "\e625";
}
.icon-modem:before {
	content: "\e629";
}
.icon-tv:before {
	content: "\e626";
}
.icon-radio:before {
	content: "\e627";
}
.icon-headphone:before {
	content: "\e62a";
}
.icon-cassette:before {
	content: "\e62b";
}
.icon-car:before {
	content: "\e628";
}
.icon-cassette2:before {
	content: "\e609";
}
.icon-chat2:before {
	content: "\e611";
}
.icon-chat:before {
	content: "\e610";
}
.icon-news:before {
	content: "\e607";
}
.icon-pencil2:before {
	content: "\e613";
}
.icon-volume-up:before {
	content: "\e617";
}
.icon-bold:before {
	content: "\e61c";
}
.icon-italic:before {
	content: "\e61d";
}
.icon-picture:before {
	content: "\e61e";
}
.icon-pencil:before {
	content: "\e619";
}
.icon-arrow-left:before {
	content: "\e615";
}
.icon-arrow-right:before {
	content: "\e616";
}
.icon-calendar:before {
	content: "\e612";
}
.icon-shopping-cart:before {
	content: "\e618";
}
.icon-facebook:before {
	content: "\e60d";
}
.icon-wrench:before {
	content: "\e620";
}
.icon-link:before {
	content: "\e61f";
}
.icon-list-ul:before {
	content: "\e61a";
}
.icon-list-ol:before {
	content: "\e61b";
}
