

@font-face {
	font-family: 'Ubuntu Condensed';
	src:url('fonts/UbuntuCondensed-Regular.eot?vczg69');
	src:url('fonts/UbuntuCondensed-Regular.eot?#iefixvczg69') format('embedded-opentype'),
		url('fonts/Ubuntu-C.ttf?vczg69') format('truetype'),
		url('fonts/UbuntuCondensed-Regular.woff?vczg69') format('woff'),
		url('fonts/UbuntuCondensed-Regular.svg?vczg69#tilos') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src:url('fonts/OpenSans.eot?vczg69');
	src:url('fonts/OpenSans.eot?#iefixvczg69') format('embedded-opentype'),
		url('fonts/OpenSans-Regular.ttf?vczg69') format('truetype'),
		url('fonts/OpenSans.woff?vczg69') format('woff'),
		url('fonts/OpenSans.svg?vczg69#tilos') format('svg');
	font-weight: normal;
	font-style: normal;
}