.howto-widget {
  margin-bottom: 48px;
}

.howto-widget  .icon {
  font-size: 96px;
  color: $brand-danger;
  margin-right: 32px;
}

.howto-widget-body {
  //font-size: 32px;
  display: block;
  padding-left: 10px;
}

.howto-widget-body h3{
  font-size: 32px;
}

.howto-widget-body li {
  list-style-type: none;
  padding-left: 10px;
}