<!doctype html>
<html ng-app="tilosApp">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng:bind-template="Tilos Rádió : {{pageTitle}}">Tilos Rádió</title>
    <meta name="description" id="desc"
          content="A Tilos Rádió egy non-profit közösségi rádió. Adástelefon: +36-1-215-3773. Frekvencia: 90.3Mhz">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="og:image" content="http://tilos.hu/images/kockalogo.png"/>
    <meta name="og:site_name" content="Tilos Rádió"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">

    <base href="/">
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->


    <script src="bower_components/modernizr/modernizr.js"></script>

    <script src="scripts/angular.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.0/angular-locale_hu-hu.js"></script>

    <script src="scripts/tilos.js"></script>

    <script src="bower_components/jquery/jquery.min.js"></script>

    <script src="jplayer/jquery.jplayer.min.js"></script>


</head>
<body>
<!--[if lt IE 8]>
<div class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.
</div>
<![endif]-->

<div class="navbar-fixed-top" scroll ng-class="{scrolled:boolChangeClass}">
    <nav class="navbar navbar-default" role="navigation" ng-controller="HeaderCtrl">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Navigáció</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="/#"> Tilos Rádió</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse container" ng-show="isCollapsed">
                <ul class="nav navbar-nav" ng-click="isCollapsed = !isCollapsed">
                    <li active-link="active"><a href="/index">Főoldal</a></li>
                    <li active-link="active"><a href="/shows">Műsorok</a></li>
                    <li active-link="active"><a href="/archive">Archív</a></li>
                    <li active-link="active"><a href="/mixes/dj">Hangtár</a></li>
                    <li>
                    <li class="extra-menu">
                        <a href="#" class="dropdown-toggle extraLink" data-toggle="dropdown">Krónika</a>
                        <ul class="extra-menu-content">
                            <li active-link="active"><a href="/page/sajto-2014">Sajtó</a></li>
                            <li active-link="active"><a href="/page/legendarium">Legendárium</a></li>
                            <li active-link="active"><a href="/page/memento">Mementó</a></li>
                            <li active-link="active"><a href="/page/tematikusnap">Tematikus napok</a></li>
                            <li active-link="active"><a href="/page/irasok">Írások</a></li>
                        </ul>
                    </li>
                    </li>
                    <li active-link="active" class="highlight"><a href="/page/segits">Támogass</a></li>
                    <li class="extra-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <div class="more-button">+</div>
                        </a>
                        <ul class="extra-menu-content">
                            <li active-link="active"><a href="/page/extra">Extra</a></li>
                            <li active-link="active"><a href="/page/info">Infó</a></li>
                            <li active-link="active"><a href="/page/elerhetoseg">Elérhetőség</a></li>
                        </ul>
                    <li active-link="active" class="englishLink"><a href="/page/english">EN</a></li>

                    </li>

                    <li class="visible-xs"><a href="http://tilos.hu/api/v1/m3u/lastweek?stream=/tilos" target="_blank"><span>256</span>
                        mp3</a></li>
                    <li class="visible-xs"><a href="http://tilos.hu/api/v1/m3u/lastweek?stream=/tilos_128.mp3"
                                              target="_blank"><span>128</span> mp3</a></li>
                    <li class="visible-xs"><a href="http://tilos.hu/api/v1/m3u/lastweek?stream=/tilos_32.mp3"
                                              target="_blank"><span>32</span> mp3</a></li>
                    <li class="visible-xs"><a href="http://tilos.hu/api/v1/m3u/lastweek?stream=/tilos_high.ogg"
                                              target="_blank"><span>96</span> ogg</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search" ng-controller="SearchBox" ng-submit="search()">
                    <div class="form-group">
                        <label for="search" class="sr-only">keresés a Tilos Rádió oldalán</label>
                        <input type="search" id="search" class="form-control" name="search" placeholder="keresés"
                               ng-model="term">
                    </div>
                    <button type="submit"><span class="icon-search"></span></button>
                </form>
            </div>
            <!-- /.navbar-collapse -->

        </div>
        <!-- container -->
    </nav>

    <header class="main-header hidden-xs">
        <div class="container">
            <div class="row">
                <div class="brand-holder col-md-6">
                    <a href="/">
                        <img src="/images/logo.png" alt="Tilos Rádió" class="logo">

                        <h1>Tilos Rádió</h1>

                        <h2><a href="http://tilos.hu/page/segits"><span id="adoszam">Támogasd!</a></span>
                        </h2>
                    </a>
                </div>
                <div class="col-md-6 radio-holder" ng-controller="EpisodesCtrl">
                    <div class="radio-player">
                        <div class="col-md-6 radio-info">
                            <h3>
                                <a href="#/show/{{current.show.alias}}" ng-bind="current.show.name"></a>
										<span class="radio-fromTo" ng-show="current.show.episodes">
                                            <span ng-bind="current.show.episodes[0].plannedFrom * 1000| date: 'HH:mm'"></span>-<span
                                                ng-bind="current.show.episodes[0].plannedTo * 1000| date: 'HH:mm'"></span>
										</span>
                            </h3>
                        </div>
                        <div class="col-md-6 radio-formatList">
                            <h4>HALLGASD ONLINE!<span class="active icon-loop"></span></h4>
                            <ul class="stream-chooser">
                                <li><a href="http://tilos.hu/api/v1/m3u/lastweek?stream=/tilos" target="_blank"><span>256</span> mp3</a>
                                </li>
                                <li><a href="http://tilos.hu/api/v1/m3u/lastweek?stream=/tilos_128.mp3" target="_blank"><span>128</span>
                                    mp3</a></li>
                                <li><a href="http://tilos.hu/api/v1/m3u/lastweek?stream=/tilos_32.mp3" target="_blank"><span>32</span>
                                    mp3</a></li>
                                <li><a href="http://tilos.hu/api/v1/m3u/lastweek?stream=/tilos_high.ogg" target="_blank"><span>96</span>
                                    ogg</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!--container -->
    </header>
</div>
<!-- navbar-fixed-top -->

<div div ng-show="player" id="jquery_jplayer_1" class="jp-jplayer"></div>
<div div ng-show="player" id="jp_container_1" class="jp-audio">
    <div class="jp-type-single">
        <div class="jp-gui jp-interface">
            <div class="jp-progress">
                <div class="jp-seek-bar">
                    <div class="jp-play-bar"></div>
                </div>
            </div>
            <div class="jp-time-holder">ad
                <div class="jp-current-time"></div>
                <div class="jp-duration"></div>
            </div>
            <ul class="jp-controls">
                <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
            </ul>
            <div class="jp-volume-bar">
                <div class="jp-volume-bar-value"></div>
            </div>
        </div>
        <div class="jp-details">
            <ul>
                <li><span class="jp-title"></span></li>
            </ul>
        </div>
        <div class="jp-no-solution">
            <span>Update Required</span>
            To play the media you will need to either update your browser to a recent version or update your <a
                href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        </div>
    </div>
</div>


<div class="container" id="mainIndex">

    <div ui-view></div>

</div>
<!-- /container -->

<div class="container backtoTopLink" ng-class="{showedLink:showLink}" ng-controller="RenderCtrl">
    <h2 class="bordered blue">
        <a ng-click="gotoTop()">Vissza a lap tetejére</a>
    </h2>
</div>
<div class="footer-holder">
    <footer class="container">
        <div class="row">
            <div class="col-md-4">
                <nav class="footer-nav">
                </nav>
                <h2>A Tilos Rádió elérhetőségei</h2>

                <p>adástelefon: 215 3773</p>

                <p>e-mail: <a href="mailto:radio@tilos.hu">radio@tilos.hu</a></p>

                <p>Minden műsorral kapcsolatos kérdésben a Tilos szerkesztőségének írjatok levelet: <a
                        href="mailto:szerkessz@tilos.hu">szerkessz@tilos.hu</a></p>

                <p>A weboldallal kapcsolatos kérdésekben az illetékes: <a href="mailto:webmester@tilos.hu">webmester@tilos.hu</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>A Tilos Rádiót működtető Tilos Kulturális Alapítvány elérhetőségei:</h2>

                <p>
                    1085 Budapest<br/>
                    Üllői út 32. (Mária u. 54.)<br/>
                    telefon: (061) 476 8491<br/>
                    fax: (061) 476 8492<br/>
                    <a href="mailto:radio@tilos.hu">radio@tilos.hu</a><br/>
                    postacím: 1462 Budapest, Pf. 601.
                </p>
            </div>
            <div class="col-md-4">
                <h2>Bérszerverünket a</h2>
                <p><a href="http://rackforest.hu/" rel="nofollow"><img alt="Rackforest logo" src="/images/rf.png" width="300px"/></a></p>
                <h2>legelteti</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>© 2014. Tilos Rádió -- Minden jog fenntartva</p>
            </div>
        </div>
    </footer>
</div>
<!-- footer-holder -->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-1346207-1');
    ga('send', 'pageview');
</script>

</body>
</html>
