<section class="col-md-6 main" role="main" >
    <article ng-repeat="item in news">
        <h1>{{item.title}}</h1>
        {{item.content}}
        <footer>
            <div class="article-info">
                <a href="#0" class="author">{{item.author}} </a>
                <time datetime="2013-11-06">2013. november 6.</time>
            </div>
            <!--div class="social">
                <a href="#" class="facebook-share"><span class="icon-facebook"></span>Megosztom <span class="share-numb">5k</span></a>
                <a href="#" class="google-share"><span class=" icon-google-plus"></span>Megosztom <span class="share-numb">5k</span></a>
                <a href="#" class="edit-this icon-pencil"></a>
                <a href="#" class="archive-this icon-box-add"></a>
            </div-->
        </footer>
    </article>
</section> <!-- col-md-6 -->
<aside class="col-md-3">
    <div class="box">
        <h2>Szólj hozzá</h2>
        <h3>Adástelefon</h3>
        <a href="tel:+3612153773" class="tel">(+36 1) 215 37 73</a>
        <a href="#" class="btn btn-danger btn-block btn-lg" role="button"><span class="icon-chat2"></span>Belépés a chatre</a>
    </div> <!-- box -->
    <div class="box-simple" >
        <h2>Műsorvezetők</h2>
        <div class="row">
            <figure  ng-repeat="author in current.show.authors" class="show-author">
                <a href="#/author/{{author.alias}}"><img src="upload/bio/{{author.avatar}}" alt="{{author.name}}"   class="show-author-image"></a>
                <figcaption><a href="#/author/{{author.alias}}">{{author.name}}</a></figcaption>
            </figure>
        </div>
        <a href="#0" class="btn-default btn btn-lg btn-block"><span class="icon-add"></span>Kövesd!</a>
    </div> <!-- box-simple -->
    <div class="box-simple archive-little">
        <h2>Archívum</h2>
        <div class="row">
            <div class="col-xs-4">
                <a href="#" class="btn btn-block btn-default">Hét</a>
            </div>
            <div class="col-xs-4">
                <a href="#" class="btn btn-block btn-danger">Hónap</a>
            </div>
            <div class="col-xs-4">
                <a href="#" class="btn btn-block btn-default">Év</a>
            </div>
        </div>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td><a href="#0">Április</a></td>
                    <td class="text-right"><a href="#0">2013</a></td>
                </tr>
                <tr>
                    <td><a href="#0">Május</a></td>
                    <td class="text-right"><a href="#0">2013</a></td>
                </tr>
                <tr>
                    <td><a href="#0">Június</a></td>
                    <td class="text-right"><a href="#0">2013</a></td>
                </tr>
            </tbody>
        </table>
    </div> <!-- /archive-little -->
</aside> <!-- col-md-3 -->
<aside class="col-md-3">
    <div class="box backing">
        <h2>Támogass <span class="sub-title">(paypallal)</span></h2>
        <div class="row">
            <div class="col-xs-8">
                <label>Egyszeri támogatás</label>
            </div>
            <div class="col-xs-4">
                <a href="#0" target="_blank" class="btn btn-default" role="button">mehet</a>
            </div>
        </div> <!-- /row -->
        <form action="/" class="form-inline row">
            <div class="col-xs-8">
                <label for="amount">Rendszeres támogatás</label>
                <select class="form-control" id="amount">
                    <option>1 000Ft</option>
                    <option>2 000Ft</option>
                    <option>5 000Ft</option>
                    <option>10 000Ft</option>
                </select>
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-default">mehet</button>
            </div>
        </form>
    </div> <!-- box -->
	<div class="box-simple">
		<h2>{{now| date: "yyyy.MM.dd"}}</h2>
		<table class="table actual-shows" >
			<tr ng-repeat="episode in episodes" class="{{(current.show.id == episode.show.id) && 'actual'|| ''}}" >
				<td><a href="#/show/{{episode.show.alias}}">{{episode.show.name}}<a></td><td>{{episode.from * 1000| date: 'HH:mm'}}</td><td><a href="#" class="icon-star"><span class="sr-only">kedvenchez adás</span></a></td> <!-- if is fav change icon-star2 -->
			</tr>
		</table>
	</div>
	<div class="box-simple social-box">
		<div class="row collapse-row">
			<div class="col-xs-3">
				<a href="#0" alt="facebook" class="facebook">
					<span class="sr-only">Facebook rajongók száma:</span>
					<span class="icon-facebook"></span>
					<span class="social-numb">{{Math.round(facebook.likes / 1000)}}k</span>
				</a>
			</div>
			<div class="col-xs-3">
				<a href="#0" alt="facebook" class="twitter">
					<span class="sr-only">Twitter rajongók száma:</span>
					<span class="icon-twitter"></span>
					<span class="social-numb">30k</span>
				</a>
			</div>
			<div class="col-xs-3">
				<a href="#0" alt="facebook" class="google-plus">
					<span class="sr-only">g+ rajongók száma:</span>
					<span class="icon-google-plus"></span>
					<span class="social-numb">124k</span>
				</a>
			</div>
			<div class="col-xs-3">
				<a href="#0" alt="facebook" class="email-social">
					<span class="sr-only">Email rajongók száma:</span>
					<span class="icon-envelope"></span>
					<span class="social-numb">0</span>
				</a>
			</div>
		</div> <!--  collapse-row -->
	</div> <!-- social-box -->
</aside>