<article ng-repeat="item in news">
    <h1>{{item.title}}</h1>
    {{item.content}}
    <footer>
        <div class="article-info">
            <a href="#0" class="author">{{item.author}} </a>
            <time datetime="2013-11-06">2013. november 6.</time>
        </div>
        <!--div class="social">
            <a href="#" class="facebook-share"><span class="icon-facebook"></span>Megosztom <span class="share-numb">5k</span></a>
            <a href="#" class="google-share"><span class=" icon-google-plus"></span>Megosztom <span class="share-numb">5k</span></a>
            <a href="#" class="edit-this icon-pencil"></a>
            <a href="#" class="archive-this icon-box-add"></a>
        </div-->
    </footer>
</article>

