<section class="col-md-9 main" role="main" >

        <h1>{{news.title}}</h1>
		<span ng-bind-html="news.formatted"></span>
        <footer>
            <div class="article-info">
                <span class="author">{{news.author}} </span]>
                <time datetime="{{news.created * 1000 | date: 'yyyy-MM-dd'	}}">{{news.created * 1000 | date: 'yyyy.MM.dd'}}</time>
            </div>
            <div class="social">
                <iframe ng-src="{{likeURL}}"  scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
            </div>
        </footer>

</section> <!-- col-md-6 -->

<!--
<aside class="col-md-3">
	<div ng-include src="'partials/sidebar_left.html'"></div>
</aside> <!-- col-md-3 -->
<aside class="col-md-3">
    <div ng-include src="'partials/sidebar_right.html'"></div>
</aside>
