<section class="col-md-9 main news" role="main" >
	<article ng-repeat="feed in feeds">
    <h1><a href="{{feed.link}}" target="_blank">{{feed.title}}</a></h1>
	<div ng-bind-html="feed.content"></div>
  <footer class="article-info">
    <time datetime="{{feed.publishedDate}}">{{feed.publishedDate |  RssDate }}</time>
    <span class="author">{{feed.author}} </span>
		<div>
    	<small ng-repeat="category in feed.categories">{{category}}, &nbsp;</small>
    </div>
      <!--<div class="social">
        		<iframe ng-src="{{likeURL}}"  scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
        	</div> -->
   </footer>
  </article>
</section> <!-- col-md-6 -->
<aside class="col-md-3">
    <div ng-include src="'partials/sidebar_right.html'"></div>
</aside>
