<section class="col-md-6 main" role="main" >
	<h2 class="bordered blue">Műsor:</h2>

    <h1 class="ubuntu">{{show.name}}</h1>

    <p><i>{{show.definition}}</i></p>

    <span ng-bind-html="show.description"></span>

    <h2>Legutóbbi adások</h2>
    <div class="panel panel-default" ng-repeat="episode in show.episodes">
        <div class="panel-heading">
            {{episode.plannedFrom * 1000| date: 'yyyy.MM.dd HH:mm'}}
            <span ng-if="episode.text">{{episode.text.title}}</span>
            <a class="pull-right" href="{{server}}/{{episode.m3u}}">meghallgat</a>
        </div>
        <div ng-if="episode.text" class="panel-body">
            <span ng-bind-html="episode.text.content"></span>
        </div>
    </div>
</section>

<aside class="col-md-3">
	<!--Dynamically changing field.-->
	<div class="box" ng-controller="EpisodesCtrl">
		<h2>Műsorvezetők</h2>
		<div class="row">
			<figure ng-repeat="author in show.contributors" class="show-author">
			<a href="#/author/{{author.author.alias}}"><img src="upload/bio/{{author.author.avatar}}" alt="{{author.nick}}"   class="show-author-image"></a>
			<figcaption><a href="#/author/{{author.author.alias}}">{{author.nick}}</a></figcaption>
			</figure>
		</div>
		<a href="#0" class="btn-default btn btn-lg btn-block"><span class="icon-add"></span>Kövesd!</a>
	</div>


    <div ng-include src="'partials/sidebar_left.html'"></div>
</aside>

<aside class="col-md-3">
	<div ng-include src="'partials/sidebar_right.html'"></div>
</aside>
