<section class="col-md-9 main" role="main" >

    <h1>{{show.name}}</h1>

    <p><i>{{show.definition}}</i></p>

    <span ng-bind-html="show.description"></span>

    <h2>Legutóbbi adások</h2>
    <div class="panel panel-default" ng-repeat="episode in show.episodes">
        <div class="panel-heading">
            <a href="{{server}}/{{episode.m3u}}">{{episode.plannedFrom * 1000| date: 'yyyy.MM.dd HH:mm'}}</a>
        </div>
        <div class="panel-body"></div>
    </div>
</section>
<aside class="col-md-3">
    <div class="box-simple" >
        <h2>Műsorvezetők</h2>
        <div class="row">
            <figure  ng-repeat="author in show.authors" class="show-author">
                <a href="#/author/{{author.author.alias}}"><img src="upload/bio/{{author.author.avatar}}" alt="{{author.nick}}"   class="show-author-image"></a>
                <figcaption><a href="#/author/{{author.author.alias}}">{{author.nick}}</a></figcaption>
            </figure>
        </div>
    </div>
</aside>