<h1>Összes műsor</h1>


<tabset>
    <tab heading="Beszélgetős">
       <table class="table">
          <tr ng-repeat="show in shows['talk']">
             <td><a href="#/show/{{show.id}}">{{show.name}}</a></td>
             <td>{{show.definition}}</td>
          </tr>
       </table>
    </tab>
    <tab heading="Zenés">
       <table class="table">
          <tr ng-repeat="show in shows['sound']">
             <td><a href="#/show/{{show.id}}">{{show.name}}</a></td>
             <td>{{show.definition}}</td>
          </tr>
       </table>
    </tab>
</tabset>

