	<div class="box backing">
        <h2>Támogass <span class="sub-title">(paypal)</span></h2>
        <div class="row">
            <div class="col-xs-8">
                <label>Egyszeri támogatás</label>
            </div>
            <div class="col-xs-4">
            	<form  action="https://www.paypal.com/cgi-bin/webscr">
            	<input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="VK5YWMWAGKEE4">
                <button type="submit" class="btn btn-default" role="button">mehet</button>
                </form>
            </div>
        </div> <!-- /row -->
        <form action="https://www.paypal.com/cgi-bin/webscr"  class="form-inline row">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="FUBZCJARZML46">
            <input type="hidden" name="currency_code" value="HUF">
            <input type="hidden" name="on0" value="">
            <div class="col-xs-8">
                <label for="amount">Rendszeres támogatás</label>
                <select class="form-control" id="amount" name="os0">
                    <option value="1">1 000Ft</option>
                    <option value="2">2 000Ft</option>
                    <option value="3">3 000Ft</option>
                    <option value="4">5 000Ft</option>
                    <option value="5">10 000Ft</option>
                </select>
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-default">mehet</button>
            </div>
        </form>
    </div> <!-- box -->

	<div class="box-simple" ng-controller="EpisodesCtrl">
		<h2>{{now| date: "yyyy.MM.dd"}}</h2>
		<table class="table actual-shows" >
			<tr ng-repeat="episode in episodes" class="{{(current.show.id == episode.show.id) && 'actual'|| ''}}" >
				<td><a href="#/show/{{episode.show.alias}}">{{episode.show.name}}<a></td><td>{{episode.from * 1000| date: 'HH:mm'}}</td><td><a href="#" class="icon-star"><span class="sr-only">kedvenchez adás</span></a></td> <!-- if is fav change icon-star2 -->
			</tr>
		</table>
	</div>

	<div class="box-simple social-box" ng-controller="SocialCtrl">
		<div class="row collapse-row">
			<div class="col-xs-3">
				<a href="#0" alt="facebook" class="facebook">
					<span class="sr-only">Facebook rajongók száma:</span>
					<span class="icon-facebook"></span>
					<span class="social-numb">{{Math.round(facebook.likes / 1000)}}k</span>
				</a>
			</div>
			<div class="col-xs-3">
				<a href="#0" alt="facebook" class="twitter">
					<span class="sr-only">Twitter rajongók száma:</span>
					<span class="icon-twitter"></span>
					<span class="social-numb">30k</span>
				</a>
			</div>
			<div class="col-xs-3">
				<a href="#0" alt="facebook" class="google-plus">
					<span class="sr-only">g+ rajongók száma:</span>
					<span class="icon-google-plus"></span>
					<span class="social-numb">124k</span>
				</a>
			</div>
			<div class="col-xs-3">
				<a href="#0" alt="facebook" class="email-social">
					<span class="sr-only">Email rajongók száma:</span>
					<span class="icon-envelope"></span>
					<span class="social-numb">0</span>
				</a>
			</div>
		</div> <!--  collapse-row -->
	</div> <!-- social-box -->