<div class="box-simple" ng-controller="EpisodesCtrl">
		<h2>{{now| date: "yyyy.MM.dd"}}</h2>
		<table class="table actual-shows" >
			<tr ng-repeat="episode in episodes" class="{{(current.show.id == episode.show.id) && 'actual'|| ''}}" >
				<td><a href="#/show/{{episode.show.alias}}">{{episode.show.name}}<a></td><td>{{episode.plannedFrom * 1000| date: 'HH:mm'}}</td><td><a href="#" class="icon-star"><span class="sr-only">kedvenchez adás</span></a></td> <!-- if is fav change icon-star2 -->
			</tr>
		</table>
	</div>





