<section class="col-md-9 main" role="main">

    <ul class="breadcrumb">
        <li><a href="/hallgass">Tilos hallgatása</a></li>
        <li><a href="/android">Android telefonon</a></li>
        <li class="active">Archív</li>
    </ul

    <p>
        Az archívum legegyszerűbben az Androidos Tilosos alkalmazással hallgatható telefonon. Elindulás után
        a menüből navigálhatunk a műsorokhoz, ahol mindegyik műsor
    </p>

    <p>
        <a href="https://play.google.com/store/apps/details?id=pontezit.android.tilos.com">
            <img alt="Get it on Google Play"
                 src="https://developer.android.com/images/brand/hu_generic_rgb_wo_60.png"/>
        </a>
    </p>

    <div class="alert alert-danger" role="alert"><b>Figyelem:</b> Az arcħívum hallgatása nagy sávszélességet igényel.
        Egy 1 Gb-os mobilnet előfieztés már 5-6 darab hosszabb műsor meghallgatása után is ki tud merülni. Ha útközben
        szeretnénk archívumot hallgatni válasszuk a podcast megoldást.
    </div>

    <h3>Alternatív megoldás</h3>

    <p>
        Alternatív megoldás lehet a tilos.hu behívása a telefonunk böngészőben. A tartalmak nagyrésze telefonon is jól
        elérhető és
        könnyen elnavigálhatunk az archívumba, ahol tetszőleges régi műsorokat megnézhetünk.
    </p>


</section>