<section class="col-md-9 main" role="main">

    <ul class="breadcrumb">
        <li><a href="/hallgass">Tilos hallgatása</a></li>
        <li><a href="/android">Android telefonon</a></li>
        <li class="active">Podcast</li>
    </ul>

    <p>A podcast programok segítségével könnyen elérhetjük, hogy feliratkozhatunk a kedvenc műsoraink adásaira, ami
        kérésre
        (vagy akár éjszaka automatikusan) letöltődik a telefonunkra. Ezek után az adás meghallgatható akár mobilnet
        előfizetés nélkül is.</p>

    <p>Podcast hallgatáshoz két dolog kell:
    <ol>
        <li>Podcast olvasó program</li>
        <li>A podcast feed címe</li>
    </ol>
    </p>

    <p>Podcast olvasó programra az egyik legegyszerűbb választás az AntennaPod:<br/>

        <a href="https://play.google.com/store/apps/details?id=de.danoeh.antennapod">
            <img alt="Get it on Google Play"
                 src="https://developer.android.com/images/brand/hu_generic_rgb_wo_60.png"/>
        </a>

    </p>

    <p>
        Podcastra feliratkozni minden műsor saját oldalán lehet a jobb oldalon található FELIRATKOZÁS narancssárga
        gombbal.
    </p>

    <h3>Részletes útmutató</h3>

    <p>
        TODO
    </p>
</section>