<section class="col-md-9 main" role="main">

    <ul class="active breadcrumb">
        <li><a href="/hallgass">Tilos hallgatása</a></li>
        <li>Android telefonon</li>
    </ul>

    A Tilos Rádió hallgatható szinte minden mobiltefon platformon, mobilnet előfizetéssel vagy anélkül. Válassz milyen
    telefonnal akarod hallgatni:

    <div class="howto-widget">
        <a class="pull-left" href="/android/online">
            <span class="icon-modem icon"></span>
        </a>

        <div class="howto-widget-body">
            <h3>Online adás</h3>

            <p>
            <ul>
                <li><a href="/android/online">Online adás hallgatása mobilnet előfizetéssel vagy wifin &gt;&gt;</a></li>
            </ul>
            </p>
        </div>
    </div>

    <div class="howto-widget">
        <a class="pull-left" href="/android/archive">
            <span class="icon-headphone icon"></span>
        </a>

        <div class="howto-widget-body">
            <h3>Archívum</h3>

            <p>
            <ul>
                <li><a href="/android/archive">Archívum böngészése és régebbi műsor azonnali hallgatása &gt;&gt;</a>
                </li>
            </ul>
            </p>
        </div>
    </div>

    <div class="howto-widget">
        <a class="pull-left" href="/android/podcast">
            <span class="icon-cassette icon"></span>
        </a>

        <div class="howto-widget-body">
            <h3>Podcast</h3>

            <p>
            <ul>
                <li><a href="/android/podcast">Kedvenc műsorok letöltése, majd később meghallgatása akár mobilnet nélkül
                    is (podcast) &gt;&gt;</a></li>
            </ul>
            </p>
        </div>
    </div>


</section>