<section class="col-md-9 main" role="main">


    <ul class="breadcrumb">
        <li><a href="/hallgass">Tilos hallgatása</a></li>
        <li><a href="/android">Android telefonon</a></li>
        <li class="active">Online adás</li>
    </ul

    <p>
        Az online adás legegyszerűbben az Androidos Tilosos alkalmazással hallgatható telefonon. Elindulás után
        automatikusan csatlakozik és el kezdi lejátszani az adást.
    </p>

    <p>
        <a href="https://play.google.com/store/apps/details?id=pontezit.android.tilos.com">
            <img alt="Get it on Google Play"
                 src="https://developer.android.com/images/brand/hu_generic_rgb_wo_60.png"/>
        </a>
    </p>

    <div class="alert alert-danger" role="alert"><b>Figyelem:</b> Mobilnet a beállításoknál válasszuk a rosszabb
        minőségű, de kevesebb adatforgalmat használó '32kbps' opciót.
    </div>


</section>