<section class="col-md-9 main" role="main">
    <p>A Tilos Rádió fogható Budapest körzetében rádióval valamint az egész világon interneten. Válassz, hogyan akarod
        hallgatni?</p>

    <div class="howto-widget">
        <a class="pull-left" href="/mobil">
            <span class="icon-phone icon"></span>
        </a>

        <div class="howto-widget-body">
            <h3><a href="/mobil">Telefonon</a></h3>

            <p>
            <ul>
                <li><a href="/android">Hallgatás Androidon &gt;&gt;</a></li>
                <li>Hallgatás IPhonon &gt;&gt;</li>
                <li>Hallgatás Windows Phonon &gt;&gt</li>
            </ul>
            </p>
        </div>
    </div>


    <div class="howto-widget">
        <a class="pull-left" href="/szamitogep">
            <span class="icon-laptop icon"></span>
        </a>

        <div class="howto-widget-body">
            <h3>Számítógépen</h3>

            <p>
            <ul>
                <li>Online adás hallgatása &gt;&gt;</li>
                <li>Archívum hallgatása &gt;&gt;</li>
                <li>Archívum letöltése későbbi hallgatásra &gt;&gt;</li>
            </ul>
            </p>
        </div>
    </div>

    <div class="howto-widget">
        <a class="pull-left" href="/auto">
            <span class="icon-car icon"></span>
        </a>

        <div class="howto-widget-body">
            <h3>Autóban</h3>

            <p>
            <ul>
                <li>Néhány tipp, hogy hogy hallgassuk az adást autóból a telefonon keresztül &gt;&gt;</li>
            </ul>
            </p>
        </div>
    </div>

    <div class="howto-widget">
        <a class="pull-left" href="/szamitogep">
            <span class="icon-radio icon"></span>
        </a>

        <div class="howto-widget-body">
            <h3>Rádión</h3>

            <p>
            <ul>
                <li>Online adás hallgatása FM-en &gt;&gt;</li>
            </ul>
            </p>
        </div>
    </div>

    <div class="howto-widget">
        <a class="pull-left" href="/szamitogep">
            <span class="icon-tv icon"></span>
        </a>

        <div class="howto-widget-body">
            <h3>Okos TV-n</h3>

            <p>
            <ul>
                <li>XBMC plugin használata &gt;&gt;</li>
                <li>Más okos TV-k &gt;&gt;</li>
            </ul>
            </p>
        </div>
    </div>


</section>