<section class="col-md-9 main" role="main">


    A Tilos Rádió hallgatható szinte minden mobiltefon platformon, mobilnet előfizetéssel vagy anélkül. Válassz milyen
    telefonnal akarod hallgatni:

    <div class="howto-widget">
        <a class="pull-left" href="/android">
            <span class="icon-android icon"></span>
        </a>

        <div class="howto-widget-body">
            <h3>Android</h3>

            <p>
            <ul>
                <li><a href="/android/online">Online műsor hallgatása &gt;&gt;</a></li>
                <li><a href="/android/archive">Régi műsorok hallgatása &gt;&gt;</a></li>
                <li><a href="/android/podcast">Régi műsorok letöltése és későbbi hallgatása &gt;&gt;</a></li>
            </ul>
            </p>
        </div>
    </div>

    <div class="howto-widget">
        <a class="pull-left" href="/iphone">
            <span class="icon-apple icon"></span>
        </a>

        <div class="howto-widget-body">
            <h3>IPhone</h3>

            <p>
            <ul>
                <li>Online műsor hallgatása &gt;&gt;</li>
                <li>Régi műsorok hallgatása &gt;&gt;</li>
                <li>Régi műsorok letöltése és későbbi hallgatása &gt;&gt;</li>
            </ul>
            </p>
        </div>
    </div>

    <div class="howto-widget">
        <a class="pull-left" href="/android">
            <span class="icon-windows8 icon"></span>
        </a>

        <div class="howto-widget-body">
            <h3>Windows Phone</h3>

            <p>
            <ul>
                <li>Online műsor hallgatása &gt;&gt;</li>
                <li>Régi műsorok hallgatása &gt;&gt;</li>
                <li>Régi műsorok letöltése és későbbi hallgatása &gt;&gt;</li>
            </ul>
            </p>
        </div>
    </div>


</section>