
// bootstrap
$brand-primary:     #428bca;
$brand-success:    	#7ff64f;
$brand-warning:     #fcb150;
$brand-danger:      #dd4c3b;
$brand-info:        #35aadc;
$gray: 							#858586;
$gray-light: 				#a6a3a3;

// brand color:
$facebook: 					#3b5998;
$google-plus: 			#dd4b39;
$twitter: 					#00acee;
$rss:  							#ee802f;


// text color
$primary-color: 		#201f1f;
$secondary-color: 	#6ad0f8;
$link-color: 				$brand-danger;
$placeholder-color: $brand-warning;
$heiglight-color: 	#30acb4;

// page color
$background-color: 	#ededeb;
$navbar-color:  		#2a2929;
$social-backgronud:	#3e454d;


