// text color
$primary-color: #1f1f1f;
$secondary-color: #6ad0f8;
$link-color: #dd4c3b;
$placeholder-color: #f8b252;
$heiglight-color: #30acb4;
$green-color: #7ff64f;


// page color
$background-color: #ededeb;
$navbar-color:  #292929;