@font-face {
	font-family: 'tilos';
	src:url('fonts/tilos.eot?vczg69');
	src:url('fonts/tilos.eot?#iefixvczg69') format('embedded-opentype'),
		url('fonts/tilos.ttf?vczg69') format('truetype'),
		url('fonts/tilos.woff?vczg69') format('woff'),
		url('fonts/tilos.svg?vczg69#tilos') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'tilos';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
	content: "\e600";
}
.icon-subtract:before {
	content: "\e601";
}
.icon-sound-alt:before {
	content: "\e602";
}
.icon-play:before {
	content: "\e603";
}
.icon-star:before {
	content: "\e604";
}
.icon-star2:before {
	content: "\e605";
}
.icon-loop:before {
	content: "\e606";
}
.icon-search:before {
	content: "\e608";
}
.icon-google-plus:before {
	content: "\e60a";
}
.icon-twitter:before {
	content: "\e60b";
}
.icon-envelope:before {
	content: "\e60c";
}
.icon-box-add:before {
	content: "\e60e";
}
.icon-arrow-down:before {
	content: "\e60f";
}
.icon-rss-alt:before {
	content: "\e614";
}
.icon-news:before {
	content: "\e607";
}
.icon-cassette:before {
	content: "\e609";
}
.icon-chat:before {
	content: "\e610";
}
.icon-chat2:before {
	content: "\e611";
}
.icon-facebook:before {
	content: "\e60d";
}
.icon-calendar:before {
	content: "\e612";
}
.icon-pencil:before {
	content: "\e613";
}
.icon-shop:before {
	content: "\e116";
}

.icon-arrow-left:before {
	content: "\e615";
}

.icon-arrow-right:before {
	content: "\e616";
}