@mixin rotate-animation() {
	-webkit-animation: rotateAnimaton 3s linear infinite;
	-moz-animation: rotateAnimaton 3s linear infinite;
	-o-animation: rotateAnimaton 3s linear infinite;	
}


@-webkit-keyframes rotateAnimaton {
from { -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }
to { -webkit-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
}
@-moz-keyframes rotateAnimaton {
from { -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }
to { -moz-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
}
@-o-keyframes rotateAnimaton {
from { -o-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }
to { -o-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
}