// $icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "color";
@import "bootstrap-settings";
@import 'sass-bootstrap/lib/bootstrap';
@import "mixin";
@import "fonts";



body{
    padding-top: 228px; //need for a fix navbar
}

h2{
    font-size: 22px;
}

// original: http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/

ol {
    counter-reset:li; // Initiate a counter
    margin-left:0; // Remove the default left margin
    padding-left:0; // Remove the default left padding
}
ol > li {
    font-size: 20px;
    font-weight: 300;
    position:relative; // Create a positioning context
    margin:0 0 6px 2em; // Give each list item a left margin to make room for the numbers
    padding:4px 8px; // Add some spacing around the content
    list-style:none; // Disable the normal item numbering
}
ol > li:before {
    content:counter(li); // Use the counter as content
    counter-increment:li; // Increment the counter by 1
    // Position and style the number
    font-weight: bold;
    position:absolute;
    top:1px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
        // Some space between the number and the content in browsers that support
        // generated content but not positioning it (Camino 2 is one example)
    margin-right:8px;
    padding:4px;
    color:$link-color;
    text-align:center;
}


blockquote{
    position: relative;
    &:before{
        content:'\201C';
        color: $link-color;
        font: italic 400%/1 Cochin,Georgia,"Times New Roman", serif;
        left: -9px;
        position: absolute;
        top: 9px;

    }
}

article{
    padding-bottom: 27px;
    a{
        font-weight: bold;
    }
    .main &{
       border-bottom: 5px solid $gray-light;
    }
}

time{
    color: $gray-light;
}

label{
  color: $gray-light;
  font-weight: normal;
}

img{
  max-width: 100%;
}

.btn-lg{
  font-weight: bold;
  text-transform: uppercase;
  [class*="icon-"]{
    display: inline-block;
    margin-right: 10px;
  }
}

.collapse-row{
  margin: 0;
  *[class*="col-"]{
    padding: 0;
  }
}


[data-number]{
  position: relative;
  &:before{
    content: attr(data-number);
    background: $secondary-color;
    border-radius: 100%;
    color: white;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 0.4em;
    text-align: center;
    top: 0.2em;
    width:20px;
  }
}

// old browser warning

.browsehappy {
    margin: 0 0 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




// header navigation

.navbar-collapse.ng-hide{
   @media (min-width: $screen-sm){
    display: block !important;
  }
}

.navbar-nav {
    > li{
        font-size: 19px;
        border-left: 1px solid rgba(white, 0.6);
        &:first-child{
            border-left: none;
        }
    }
}

.navbar-form{
    padding: 0;
    position: relative;
    input[type='search']{
        background: rgba(white, 0.1);
        border: 1px solid rgba(white, 0.1);
        color: white;
        padding-right: 20px;
        width: 100%;
        @include placeholder($placeholder-color);
        @include box-shadow($placeholder-color);
        @include form-control-focus(rgba($placeholder-color,0.6));
    }
    button[type='submit']{
        font-size: 0;
        margin: 0;
        border: 0;
        height: 0;
        padding: 0;
        width: 0;
        span{
            color: $placeholder-color;
            font-size: 16px;
            position: absolute;
            top: 8px;
            right: 10px;
            display: block;
        }
    }
}

// header navigation end
// Header


.main-header{
    background: $primary-color;
    color: white;
    padding: 22px 0;
    h1{
        // font-size: 36px;
        font-weight: 300;
        margin: 10px 0;
    }
    h2{
        font-size: 20px;
        font-weight: 300;
        margin:  0;
    }
    .radio-player{
        background: white;
        background: rgba(white, 0.1);
        padding-top: 10px;
        width: 100%;
        h3{
            margin-top: 0;
            padding: 0 10px;
            text-align: center;
        }
    }
}

.brand-holder{
    padding-top: 10px;
    @include clearfix();
    a{
      color: white;
      &:hover{
        color: white;
        text-decoration: none;
      }
    }
}

.logo{
    float: left;
    margin-right: 20px;
}

.stream-chooser{
    list-style-type: none;
    margin: 0;
    padding: 0;
    @include clearfix();
    li{
        border-top: 3px solid $link-color;
        border-right: 1px solid $primary-color;
        float: left;
        text-align: center;
        width: 25%;
        &:nth-child(2){
            border-top-color: $brand-success;
        }
        &:nth-child(3){
            border-top-color: $placeholder-color;
        }
        &:nth-child(4){
            border-top-color: $heiglight-color;
        }
        &:hover, .active{
            background: rgba(white, 0.1);
        }
    }
    a{
        color: white;
        display: block;
        font-size: 10px;
        padding: 10px;
        span{
            font-size: 22px;
            display: block;
        }
        &:hover{
            text-decoration: none;
        }
    }
}

.icon-cassette{
    float: left;
    color: rgba(white, 0.2);
}
.icon-loop{
    color: $placeholder-color;
    font-size: 20px;
    float: right;
    height: 27px;
    width: 27px;
    // &.active{
    //     @include rotate-animation();
    // }
}

// header end
// Article style

.article-info{
    padding: 40px 0;
}

.author{
    color: $brand-info;
    &:hover{
        color: darken($brand-info, 10%);
    }
}

.facebook-share, .google-share{
    background: $social-backgronud;
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    height: 30px;
    line-height: 30px;
    &:hover{
        color: white;
        text-decoration: none;
    }
    span{
        display: inline-block;
    }
    span[class*="icon-"]{
        border-right: 1px solid rgba(white, 0.6);
        @include box-shadow(1px 0 0 rgba(black, 0.4));
        line-height: 30px;
        margin-right: 18px;
        text-align: center;
        width: 34px;
    }
}

.facebook-share{
    &:hover{
        span[class*="icon-"]{
            background: $facebook;
        }
    }
}
.google-share{
    &:hover{
        span[class*="icon-"]{
            background: $google-plus;
        }
    }
}

.share-numb{
    background: $gray-light;
    line-height: 30px;
    margin-left: 18px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 34px;
    &:before{
       content: "";
       border-right: 5px solid $gray-light;
       border-top: 5px solid transparent;
       border-bottom: 5px solid transparent;
       height: 0;
       left: -5px;
       top: 10px;
       position: absolute;
       width: 0;
    }
}

.edit-this, .archive-this{
    color: $gray-light;
    font-size: 30px;
    &:hover{
        color: darken($gray-light, 10%);
        text-decoration: none;
    }
}



// sidebar

aside{
  h2{
    font-size: 18px;
    text-transform: uppercase;
    .sub-title{
      color: $gray-light;
    }
  }
  h3{
    color: $gray;
    font-size: 18px;
    text-transform: uppercase;
  }
  .box{
    border-bottom: 1px solid $primary-color;
    padding-bottom: 1em;
    h2{
       border-bottom: 1px solid $primary-color;
       margin-bottom: 2em;
       padding-bottom: 1em;
    }
  }
}

.tel{
  color: $primary-color;
  cursor: default;
  display: inline-block;
  font-size: 27px;
  margin-bottom: 1em;
  &:hover{
    color: $primary-color;
    text-decoration: none;
  }
  @media (min-width: $screen-lg){
     font-size: 31px;
  }
}


.show-author-image{
  box-shadow: 0 0 0 3px white, 0 0 0 5px  $primary-color;
  @extend .img-circle;
}

.show-author{
  margin-bottom: 1em;
  padding: 0 15px;
  text-align: center;
  @extend .col-xs-6;
  a{
    color: $primary-color;
    display: block;
    padding: 0.2em 0;
    &:hover{
      color: darken($primary-color, 5%);
    }
  }
  &:hover{
    .show-author-image{
      box-shadow: 0 0 0 3px white, 0 0 3px 5px  rgba($primary-color, 0.5);
    }
  }
}

.archive-little{
  .row{
    margin-bottom: 10px;
  }
  .table{
    a{
      display: block;
    }
  }
}

.backing{
  .form-inline{
   .btn{
      margin-top: 27px;
    }
  }
}

.actual-shows{
  font-size: 15px;
  td{
    padding: 0.5em 0 0.5em 0.7em !important;
  }
  .actual{
    color: $actual-color;
    font-weight: bold;
    td{
      background: $gray-lighten;
      border-color: $gray-lighten-border;
      border-bottom: 1px solid $gray-lighten-border;
      &:first-child{
        position: relative;
        &:before{
          content: "";
          border-left: 5px solid white;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          bottom: 0;
          height: 0;
          left: 0;
          margin: auto;
          position: absolute;
          top: 0;
          width: 0;
        }
      }
    }
  }
}
a.icon-star, a.icon-star2{
  &:hover{
    text-decoration: none;
  }
}


.social-box{
  .collapse-row {
     .col-xs-3{
      &:first-child{
       a{
         border-radius: 5px 0 0 5px;
         .social-numb{
           border-radius: 0 0 0 5px;
         }
       }
     }
     &:last-child{
         a{
         border-radius: 0 5px 5px 0;
         .social-numb{
           border-radius: 0 5px 5px 0;
         }
       }
     }
   }
  }
  a{
    color: white;
    display: inline-block;
    height: 110px;
    width: 100%;
    span{
      display: inline-block;
       text-align: center;
      width: 100%;
      &[class*="icon-"]{
        font-size: 25px;
        height: 80px;
        line-height: 80px;
      }
      &.social-numb{
        height: 30px;
        line-height: 30px;
      }
    }
    &:hover{
      color: darken(white, 5%);
      text-decoration: none;
    }
    &.facebook{
      background: lighten($facebook, 10%);
      &:hover{
        background: lighten($facebook, 5%);
      }
      .social-numb{
        background: $facebook;
      }
    }
    &.twitter{
      background: lighten($twitter, 10%);
       &:hover{
        background: lighten($twitter, 5%);
      }
      .social-numb{
        background: $twitter;
      }
    }
    &.google-plus{
      background: lighten($google-plus, 10%);
       &:hover{
        background: lighten($google-plus, 5%);
      }
      .social-numb{
        background: $google-plus;
      }
    }
    &.email-social{
      background: lighten($primary-color, 10%);
       &:hover{
        background: lighten($primary-color, 5%);
      }
      .social-numb{
        background: $primary-color;
      }
    }
  }
}
// Footer

.footer-holder{
    background: $primary-color;
    color: white;
    margin-top: 45px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.footer-nav{
  a{
    color: white;
    display: block;
    font-size: 16px;
    line-height: 60px;
    padding: 0 13px;
    width: 100%;
    &:hover{
      background: $gray-darken;
      text-decoration: none;
      .numb{
        background: $brand-danger;
      }
    }
    [class*="icon-"]{
      font-size: 1.5em;
      float: left;
      margin-top: 18px;
      margin-right: 10px;
    }
    .numb{
      background: $gray-darken;
      float: right;
      height: 35px;
      line-height: 35px;
      margin: 13px  0 0 0;
      text-align: center;
      width: 40px;
    }
  }
}

.previous{
	cursor: pointer;
}

.next{
	cursor: pointer;
}

//Style of Archive
#archiveTable tr:hover > td{
	background-color: $gray-dark-hover-background;
}

#archiveTable tr:hover a{
	color: $actual-color;
	font-weight: bold;
}

#archiveTable a{
	color: $gray-dark-table;
}

#archiveTable a:hover{
	text-decoration: none;
}

.archiveItalic{
	color: $gray-light-table;
	font-style:italic;
	font-family: "Open Sans",sans-serif;
	font-size: 14px;
}

.archiveShowName{
	font-size: 18px;
}