<section class="col-md-6 main" role="main">
    <h1>Ez az oldal nincs meg</h1>


    <p>Van még 404 más oldalunk, de pont a keresett nincs köztük. Ez van.</p>
    <p>Ha meg vagy győződve, hogy a hiba a gépezetben van, akkor a <a href="mailto:webmester@tilos.hu">webmester@tilos.hu</a> címen lehet a csalódottságodnak hangot adni.</p>
    <p>Minden más esetben ajánlunk egy <a href="/index">újabb neki futást.</a></p>

</section>

<aside class="col-md-3">
    <div ng-include src="'partials/sidebar_right.html'"></div>
</aside>
