<section class="col-md-6 main" role="main">
    <h1>Ez az oldal nincs meg</h1>


    <p>Van még 404 más oldalunk, de pont a keresett nincs köztük. Ez van.</p>
    <p>Ha meg vagy győződve, hogy a hiba a gépezetben van, akkor a <a href="mailto:webmester@tilos.hu">webmester@tilos.hu</a> címen lehet a csalódottságodnak hangot adni.</p>
    <p>Minden más esetben ajánlunk egy <a href="/index">újabb nekifutást.</a></p>
    <p><img src="http://india.tilos.hu/extra/ujoldal/404.jpg"></p>

</section>

<aside class="col-md-3">
<div class="box">
  <h2><a href="http://hirek.tilos.hu" target="_blank">Tilos hírek</a></h2>
    <article class="news-lead" ng-repeat="feed in feeds">
      <h3><a href="{{feed.link}}" target="_blank">{{feed.title}}</a></h3>
      <p><img ng-src="{{feed.mediaGroups[0].contents[0].url}}" alt="{{feed.title}}" ng-show="{{feed.mediaGroups[0].contents[0].url}}"></a><span ng-bind-html="feed.content"></span></p>
  </article>
  <a href="http://hirek.tilos.hu" target="_blank">további Tilos hírek &rarr;</a>
</div>
</aside>

<aside class="col-md-3">
    <div ng-include src="'partials/sidebar_right.html'"></div>
</aside>
