<div class="commentable">
    <h3>Hozzászólások</h3>

    <div ng-hide="loggedIn()">
        Please <span login-link></span> or <span register-link></span> to comment
    </div>
    <div ng-show="loggedIn()">
        <div class="add-comment">
            <textarea class="comment-edit" ng-model="formComment.comment" placeholder="Ide írd az új hozzászólást..."></textarea>

            <div class="buttons">
                <button class="save btn btn-primary"
                        ng-click="createComment()">Elküld
                </button>
            </div>

        </div>
    </div>
    <div class="comment clearfix"
         ng-repeat="comment in comments"
         ng-include=" '/partials/comment.html' "></div>
</div>