<div class="comment-container clearfix">
    <div class="content-container">
        <div class="stats">
            <span class="user label label-primary">{{comment.author.username}}</span>
            <time class="timeago" datetime="{{comment.created}}">
                {{comment.created | date:'medium'}}
            </time>
            <a href="" ng-click="commentReply(comment)">Válasz erre...</a>
            <span ng-show="comment.status == 'NEW'" class="label pull-right label-warning">Jóváhagyásra vár</span>
        </div>
        <p class="body" ng-bind-html="comment.comment"></p>
        <div ng-include="'/partials/comment-reply.html'" ng-show="comment.replying"></div>
    </div>
    <div class="comment clearfix"
         ng-repeat="comment in comment.children"
         ng-include=" '/partials/comment.html' "></div>
</div>
