<section class="col-md-9 main" role="main">
            <h2 class="bordered blue top"><a class="label label-default" ng-href="/show/{{currentShow.alias}}">{{currentShow.name}}</a>  :: {{episode.plannedFrom |
    date:yyyy.MM.dd}}
            <a ng-show="episode.m3uUrl" class="pull-right listen-show btn btn-warning" ng-href="{{episode.m3uUrl}}" target="_self">
                <i class="icon-volume-up"></i> Meghallgat
            </a></h2>
  <h1 class="ubuntu">{{episode.text.title}}</h1>

  <span ng-bind-html="episode.text.formatted"></span>

    <div id="comments" class="tab-pane"
         ng-show="isLoggedIn()"
         commentable="{{episode.id}}"
         commentable-type="EPISODE"
         logged-in="isLoggedIn()" ></div>

</section>
<aside class="col-md-3">


  <div ng-include src="'partials/sidebar_right.html'"></div>

</aside>
