<section class="col-md-9 main" role="main">
            <h2 class="bordered blue top"><a ng-href="/show/{{currentShow.alias}}">{{currentShow.name}}</a> - adásnapló - {{episode.plannedFrom * 1000|
    date:yyyy.MM.dd}}
            <a ng-show="episode.m3uUrl" class="pull-right listen-show" ng-href="{{episode.m3uUrl}}" target="_self">
            Meghallgat
            </a></h2>
  <h1 class="ubuntu">{{episode.text.title}}</h1>

  <span ng-bind-html="episode.text.formatted"></span>

</section>
<aside class="col-md-3">


  <div ng-include src="'partials/sidebar_right.html'"></div>
</aside>
