<section class="col-md-9 main" role="main">
  <div class="panel-heading">
            <b>Adásnapló / <a ng-href="/show/{{episode.show.alias}}">{{episode.show.name}}</a> / {{episode.plannedFrom * 1000|
    date:yyyy.MM.dd}}</span>
            </b>
            <a ng-show="episode.m3uUrl" class="pull-right listen-show" ng-href="{{episode.m3uUrl}}" target="_self">
             <i class="icon-volume-up"></i> Meghallgat
            </a>
            {{episode.persistent}}
        </div>

  <h1 class="ubuntu">{{episode.text.title}}</h1>

  <span ng-bind-html="episode.text.formatted"></span>
</section>
<aside class="col-md-3">

    
  <div ng-include src="'partials/sidebar_right.html'"></div>
</aside>
