<section class="col-md-6 main" role="main">
  <h2>Közelgő műsorok</h2>
  <table class="table">
    <div class="episode-next episode-list" data-ng-repeat="episode in next">
      <h3><a ng-href="/episode/{{episode.id}}">{{episode.text.title}}</a></h3>
      <p><a ng-href="/show/{{episode.show.alias}}">{{episode.show.name}}</a>: {{episode.plannedFrom * 1000 | date:'MMMM dd -- HH:ss'}}</p>
    </div>
  </table>

  <h2>Legfrissebb adásnaplók</h2>
  <table class="table">
    <div class="episode-last episode-list" data-ng-repeat="episode in last">
        <h3><a ng-href="/episode/{{episode.id}}">{{episode.text.title}}</a></h3>
        <p>{{episode.plannedFrom * 1000 | date:'yyyy. MMMM dd'}} <a ng-href="/show/{{episode.show.alias}}">{{episode.show.name}}</a>
          Meghallgat</p>
    </div>
  </table>
</section> <!-- col-md-6 -->

</aside> <!-- col-md-3 -->

<aside class="col-md-3">
  <h2>Hírek</h2>
  <article ng-repeat="feed in feeds">
    <div class="news-lead"><br/>

      <p><img src="{{feed.mediaGroups[0].contents[0].url}}" alt="{{feed.title}}" ng-show="{{feed.mediaGroups[0].contents[0].url}}"></p>


      <a href="{{feed.link}}" target="_blank">{{feed.title}}</a>

    </div>

  </article>
</aside>


<aside class="col-md-3">
  <div ng-include src="'partials/sidebar_right.html'"></div>
</aside>
