<section class="col-md-6 main" role="main">
  <h2>Közelgő műsorok</h2>
  <table class="table">
    <tr data-ng-repeat="episode in next">
      <td>{{episode.plannedFrom * 1000 | date:'MMM dd HH:ss'}}: <a ng-href="/show/{{episode.show.alias}}">{{episode.show.name}}</a></td>
      <td><a ng-href="/episode/{{episode.id}}">{{episode.text.title}}</a></td>
    </tr>
  </table>

  <h2>Legfrissebb adásnaplók</h2>
  <table class="table">
    <tr data-ng-repeat="episode in last">
      <td></td>
      <td><a ng-href="/episode/{{episode.id}}">{{episode.text.title}}</a></td>
      <td><a ng-href="/show/{{episode.show.alias}}">{{episode.show.name}}</a> ({{episode.plannedFrom * 1000 | date:'yyyy-MM-dd'}})</td>
      <td>Meghallgat</td>
    </tr>
  </table>
</section> <!-- col-md-6 -->

</aside> <!-- col-md-3 -->

<aside class="col-md-3">
  <article ng-repeat="feed in feeds">
    <div class="news-lead"><br/>

      <p><img src="{{feed.mediaGroups[0].contents[0].url}}" alt="{{feed.title}}" ng-show="{{feed.mediaGroups[0].contents[0].url}}"></p>


      <a href="{{feed.link}}" target="_blank">{{feed.title}}</a>

    </div>

  </article>
</aside>


<aside class="col-md-3">
  <div ng-include src="'partials/sidebar_right.html'"></div>
</aside>
