<aside class="col-md-push-9 col-md-3">
    <div ng-include src="'partials/sidebar_right.html'"></div>
</aside>

<section class="col-md-pull-3 col-md-6 main" role="main">

  <div ng-show="lead.formatted"  class="panel panel-default">

      <div class="panel-heading">
         <b>{{lead.title}}</b>        
      </div>
      <div class="panel-body" ng-bind-html="lead.formatted">
      </div>

  </div>

  <div ng-show="next.length" class="program-guides">
    <h2 class="blue">Műsorajánló</h2>
    <div class="episode-next episode-list" data-ng-repeat="episode in next">
      <h3><a ng-href="{{episode.url}}">{{episode.text.title}}</a></h3>
      <p>
        {{episode.plannedFrom * 1000 | date:'MMMM dd. - HH:mm'}}
        <a class="label label-episode label-default pull-right" ng-href="/show/{{episode.show.alias}}">{{episode.show.name}}</a>
       </p>
    </div>
  </div>
  <div class="recent-broadcast-schedule">
    <h2 class="blue top">Legfrissebb adásnaplók</h2>
    <div class="episode-last episode-list" data-ng-repeat="episode in last">
        <h3><a ng-href="{{episode.url}}">{{episode.text.title}}</a></h3>
        <p>
          {{episode.plannedFrom * 1000 | date:'yyyy. MMMM dd.'}}
          <a class="label label-episode label-default pull-right" ng-href="/show/{{episode.show.alias}}">{{episode.show.name}}</a>
          <a ng-href="{{episode.m3uUrl}}" target="_self" class="label label-episode episode"><i class="icon-volume-up"></i> Meghallgat</a>
        </p>
    </div>
  </div>
</section> <!-- col-md-6 -->

<aside class="col-md-pull-3 col-md-3">

<div class="box">
  <h2><a href="http://hirek.tilos.hu" target="_blank">Tilos hírek</a></h2>
    <article class="news-lead" ng-repeat="feed in feeds">
      <h3><a ng-href="{{feed.link}}" target="_blank">{{feed.title}}</a></h3>
      <p><img  ng-src="{{feed.mediaGroups[0].contents[0].url}}" alt="{{feed.title}}" ng-show="{{feed.mediaGroups[0].contents[0].url}}"></a><span ng-bind-html="feed.content"></span></p>
  </article>
  <a href="http://hirek.tilos.hu" target="_blank">további Tilos hírek &rarr;</a>
</div>
</aside>
