<h1>Belépés</h1>
<form class="form-horizontal">
    <p>
    <fieldset>
        <!-- Form Name -->

        <div class=" alert alert-danger" ng-show="loginerror">{{loginerror}}</div>
        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="username">Felhasználónév</label>

            <div class="controls">
                <input required id="username" name="username" autofocus type="text" class="input-xlarge"
                       ng-model="logindata.username">
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="password">Jelszó</label>

            <div class="controls">
                <input required id="password" name="password" type="password" class="input-xlarge"
                       ng-model="logindata.password">
            </div>
        </div>
    </fieldset>
    <input type="submit" ng-click="login()" value="login"/>
    </p>
    <p>
        <a href="/password_reminder">Jelszó emlékeztető kérése</a>
    </p>
</form>

