<div class="form-horizontal row instant-search" role="form">
    <div class="form-group col-sm-6">
        <label for="quicksearch" class="col-xs-2 control-label">Keresés</label>

        <div class="col-xs-10">
            <input type="search" id="quicksearch" class="form-control" placeholder="Keresés a mixek között"
                   ng-model="quicksearch">
        </div>
    </div>
</div>

<div>
    <ul class="nav nav-tabs" role="tablist">
        <li ng-class="{active: tab == 'dj'}"><a ng-href="/mixes/dj">Tilos DJ Mix</a></li>
        <li ng-class="{active: tab == 'show'}"><a href="/mixes/show">Műsorok</a></li>
        <li ng-class="{active: tab == 'guestdj'}"><a ng-href="/mixes/guestdj">Guest DJ Mix</a></li>
        <li ng-class="{active: tab == 'tale'}"><a href="/mixes/tale">Tilos Mese</a></li>
    </ul>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Dátum</th>
        <th>Mix</th>
        <th>Meghallgat</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="mix in mixes | filter: quicksearch">
        <td>{{mix.date}}</td>
        <td><b>{{mix.author}}</b>: {{mix.title}}</td>
        <td class="pull-right">
            <a ng-show="{{mix.withContent}}" class="label label-info label-episode" ng-href="/mix/{{mix.id}}">Tracklista</a>
            <a class="label label-episode episode" ng-href="{{mix.link}}">Meghallgat</a>
        </td>
    </tr>
    </tbody>
</table>
