<div class="form-horizontal row instant-search" role="form">
    <div class="form-group col-sm-6">
        <label for="quicksearch" class="col-xs-2 control-label">Keresés</label>

        <div class="col-xs-10">
            <input type="search" id="quicksearch" class="form-control" placeholder="Keresés a mixek között"
                   ng-model="quicksearch">
        </div>
    </div>
</div>


<h1>Feltöltött mixek</h1>
<table class="table">
    <thead>
    <tr>
        <th>Dátum</th>
        <th>Mix</th>
        <th>Típus</th>
        <th>Meghallgat</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="mix in mixes | filter: quicksearch">
        <td>{{mix.date}}</td>
        <td><b>{{mix.author}}</b>: {{mix.title}}</td>
        <td>{{mixType[mix.type]}}</td>
        <td><a class="label label-episode episode" ng-href="{{mix.link}}">Meghallgat</a></td>
    </tr>
    </tbody>
</table>
