<section class="col-md-12 main" role="main">

  <h2 class="top">Archívum
    <ul class="pager">
      <li class="cursorPointer"><a ng-click="prev()">&larr; Előző nap</a></li>
      <li class="cursorPointer"><a ng-click="next()">Következő nap &rarr;</a></li>
    </ul>
  </h2>

  <div class="clearfix">
    <div class="DatePicker">
      <div class="form-horizontal">
        <button class="btn ChooseDate" ng-click="open()">
          <i class="icon-calendar"></i>
        </button>
        <input type="text" class="datepicker" datepicker-popup="yyyy.MM.dd"
        ng-model="gotoDate" is-open="opened" min="minDate" max="maxDate"
        datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
        ng-required="true" ng-change="goto();"/>
        {{gotoDate | date:'EEEE'}}
      </div>
    </div>
    <a class="btn btn-default pull-right" href="http://tilos.hu/upload/content/musorlista/program.pdf" target="_blank">heti műsortábla</a>


  </div>
  <table class="table table-hover" id="archiveTable">
    <tr ng-repeat="episode in episodes">
      <td class="archiveTime">
      <!--
      <a ng-show="episode.newUrl" ng-href="{{episode.newUrl}}" target="_self"><i class="icon-volume-up"></i> Meghallgat</a>
	  -->
        <a ng-show="episode.m3uUrl" ng-href="{{episode.m3uUrl}}" target="_self" class="label label-episode episode"><i class="icon-volume-up"></i> Meghallgat</a>
      </td>
      <td class="archiveTime">{{episode.plannedFrom * 1000| date: 'HH:mm'}}</td>
      <td class="archiveShowName"><a href="/show/{{episode.show.alias}}">{{episode.show.name}}</a></td>
      <td class="archiveAuth">
        Műsorvezető:
        <span ng-repeat="contributor in episode.show.contributors">
          <div ng-show="(contributor.nick != '')">
            <a href="#/author/{{contributor.author.alias}}">{{contributor.nick}}</a>
          </div>
          <div ng-show="(author.nick == '')">
            <a href="#/author/{{contributor.author.alias}}">{{contributor.author.name}}</a>
          </div>
        </span>
      </td>
      <td class="archiveItalic archiveDesc"><a ng-href="{{episode.url}}">{{episode.text.title}}</a></td>
    </tr>
  </table>
</section>