<section class="col-md-9 main" role="main">
    <h1 class="ubuntu">{{show.name}}</h1>
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="/show/{{show.alias}}">Archívum</a></li>
        <li class="active"><a href="/show/{{show.alias}}/intro">Bemutatkozás</a></li>
        <li><a href="/show/{{show.alias}}/mixes">Mixek</a></li>
        <li><a href="/show/{{show.alias}}/bookmarks">Könyvjelzők</a></li>
    </ul>

    <p><i>{{show.definition}}</i></p>
    <span ng-bind-html="show.description"></span></br>
    <footer>
        <div class="social" ng-controller="SocialCtrl">
            <iframe ng-src="{{likeURL}}" scrolling="no" frameborder="0"
                    style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
        </div>
    </footer>

</section>

<div ng-include src="'partials/sidebar_show.html'"></div>
