<div class="box actual-shows-box" ng-controller="EpisodesCtrl">
		<h2>{{now| date: "yyyy.MM.dd."}}</h2>
		<table class="table actual-shows" >
			<tr ng-repeat="episode in episodes" class="{{(current.show.id == episode.show.id) && 'actual'|| ''}}" >
				<td><a href="#/show/{{episode.show.alias}}">{{episode.show.name}}<a></td>
				<td>{{episode.plannedFrom * 1000| date: 'HH:mm'}}</td>
			</tr>
		</table>
	</div>
	<div class="box box-simple">
		<h3>Adástelefon</h3>
		<div class="centered">
			<a href="tel:+3612153773" class="tel">(+36 1) 215 37 73</a>
		</div>
		<a href="http://tilos.hu/chat/" target="_blank" class="btn btn-danger btn-block btn-lg" role="button">
			<span class="icon-chat2"></span>Belépés a chatre
		</a>
	</div> <!-- box -->

	<div class="box backing">
        <h2>Támogass <span class="sub-title">(paypal)</span></h2>
        <div class="row">
            <div class="col-xs-8">
                <label>Egyszeri támogatás</label>
            </div>
            <div class="col-xs-4">
            	<form  action="https://www.paypal.com/cgi-bin/webscr">
            	<input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="VK5YWMWAGKEE4">
                <button type="submit" class="btn btn-default" role="button">mehet</button>
                </form>
            </div>
        </div> <!-- /row -->
        <form action="https://www.paypal.com/cgi-bin/webscr"  class="form-inline row">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="FUBZCJARZML46">
            <input type="hidden" name="currency_code" value="HUF">
            <input type="hidden" name="on0" value="">
            <div class="col-xs-8">
                <label for="amount">Rendszeres támogatás</label>
                <select class="form-control" id="amount" name="os0">
                    <option value="1">1 000Ft</option>
                    <option value="2">2 000Ft</option>
                    <option value="3">3 000Ft</option>
                    <option value="4">5 000Ft</option>
                    <option value="5">10 000Ft</option>
                </select>
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-default">mehet</button>
            </div>
        </form>
    </div> <!-- box -->

	<div class="box box-simple" id="plaza">
		<h2><a href="http://plaza.tilos.hu" target="_blank" alt="tilos plaza">
			<span class="icon-shop"></span> Tilos Pláza</a>
		</h2>
	</div> <!-- box -->


    <div class="box box-simple" id="tags" ng-controller="TagCloudCtrl">

        <h2>Népszerű címkék</h2>
        <p>
            <a ng-repeat="tag in tags" ng-href="/tag/{{tag.name}}">
                <span class="tag-badge">{{tag.name}} ({{tag.count}})</span>
            </a>
        </p>
        <p><a href="/tags">További címkék...</a></p>
        </h2>
    </div>


	<div class="box-simple social-box" ng-controller="SocialCtrl">
		<div class="row collapse-row">
			<div class="col-xs-3">
				<a href="https://www.facebook.com/tilosradio" target="_blank" alt="facebook" class="facebook">
					<span class="icon-facebook"></span>
				<!--Currently not used, the Facebook followers' count can be obtained from the Social controller.-->
					<!--<span class="sr-only">Facebook rajongók száma:</span>
					<span class="social-numb">{{Math.round(facebook.likes / 1000)}}k</span>-->
				</a>
			</div>
			<div class="col-xs-3">
				<a href="https://twitter.com/tilosradio" target="_blank" alt="twitter" class="twitter">
					<span class="icon-twitter"></span>
					<!--<span class="sr-only">Twitter rajongók száma:</span>
					<span class="social-numb">9k</span>-->
				</a>
			</div>

			<div class="col-xs-3">
				<a href="https://plus.google.com/116097167846496587800/about" target="_blank" alt="google-plus" class="google-plus">
					<span class="icon-google-plus"></span>
				</a>
			</div>
			<div class="col-xs-3">
				<a href="mailto:radio@tilos.hu" alt="email-social" class="email-social">
					<span class="icon-envelope"></span>
				</a>
			</div>

		</div> <!--  collapse-row -->
	</div> <!-- social-box -->
