<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Author</legend>
        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="Name">Name</label>

            <div class="controls">
                <input id="Name" name="Name" type="text" placeholder="placeholder" class="input-xlarge" ng-model="author.name">
            </div>
        </div>

        <!-- Textarea -->
        <div class="control-group">
            <label class="control-label" for="introduction">Introduction</label>

            <div class="controls">
                <textarea cols="80" rows="20" id="introduction" name="introduction" ng-model="author.introduction"></textarea>
            </div>
        </div>

    </fieldset>
    <input type="submit" ng-click="save()"/>
</form>
