<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Episode</legend>
        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="plannedFrom">From</label>

            <div class="controls">
                <span id="plannedFrom">{{episode.plannedFrom * 1000 | date:'yyyy-MM-dd HH:ss'}}</span>
            </div>
        </div>
        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="plannedTo">To</label>

            <div class="controls">
                <span id="plannedTo">{{episode.plannedTo * 1000 | date:'yyyy-MM-dd HH:ss'}}</span>
            </div>
        </div>
        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="title">Title</label>

            <div class="controls">
                <input id="title" name="title" type="text" placeholder="placeholder" class="input-xlarge"
                       ng-model="episode.title">
            </div>
        </div>

        <!-- Textarea -->
        <div class="control-group">
            <label class="control-label" for="content">Content</label>

            <div class="controls">
                <div text-angular="text-angular" ng-model="episode.content"></div>
            </div>
        </div>

    </fieldset>
    <input type="submit" ng-click="save()"/>
</form>
