<section class="col-md-9 main" role="main">
    <ul>
        <table class="table">
            <thead>
            <tr>
                <td></td>
                <td></td>
                <td>érv kezdet</td>
                <td>érv vége</td>
                <td>nap</td>
                <td>kezdés</td>
                <td>időtartam</td>
                <td>periódus</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="scheduling in scheduling">
                <td><a ng-href="/edit/show/{{showId}}/scheduling/{{scheduling.id}}">Szerlesztés</a></td>
                <td><a ng-click="delete(scheduling.id)">Törlés</a></td>
                <td>{{scheduling.validFrom * 1000| date:yyy-MM-dd}}</td>
                <td>{{scheduling.validTo * 1000 | date:yyyy-MM-dd}}</td>
                <td>{{scheduling.weekDay | weekDayName}}</td>
                <td>{{scheduling.hourFrom}}:{{scheduling.minFrom}}</td>
                <td>{{scheduling.duration}}&nbsp;perc</td>
                <td>{{scheduling.weekType}}&nbsp;hetente</td>
            </tr>
            </tbody>
        </table>
    </ul>
    <td><a ng-href="/new/show/{{showId}}/scheduling">Új</a></td>

</section>

<aside class="col-md-3">
    <div ng-include src="'partials/sidebar_right.html'"></div>
</aside>